body{
background-color: lightBlue;
}
#Summer{
padding-left:620px;
background-color:pink;
}
#hi{
padding-left:300px;
}
#p{
  padding-left:300px;
}
#j{
  padding-left:100px;
}
<h3>{
  font-color:brown;
}
#hh{
  background-color: lightGreen;
}
#sh{
  background-color: lightGreen;
}
#l{
  background-color: lightGreen;
}
